<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFymDV5AQD396fQZau_mHqI6_H5_77FGY</string>
	<key>GCM_SENDER_ID</key>
	<string>556302801820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>anasyd-movieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>anasyd-movieapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556302801820:ios:b7ade909a77cdc01f20659</string>
</dict>
</plist>